.log-out-login-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-out-login-page .overlap-wrapper {
    background-color: var(--color-white);
    height: 1052px;
    width: 1620px;
  }
  
  .log-out-login-page .overlap {
    background-image: url(../../public/login.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 1052px;
  }
  
  .log-out-login-page .group {
    height: 773px;
    left: 477px;
    position: relative;
    top: 137px;
    width: 656px;
  }
  
  .log-out-login-page .overlap-group-wrapper {
    height: 773px;
    width: 658px;
  }
  
  .log-out-login-page .overlap-group {
    border-radius: 50px;
    height: 773px;
    position: relative;
    width: 656px;
  }
  
  .log-out-login-page .locallens-wrapper {
    background-color: #ffffff;
    border-radius: 50px;
    height: 773px;
    left: 0;
    position: absolute;
    top: 0;
    width: 656px;
  }
  
  .log-out-login-page .locallens {
    height: 96px;
    left: 55px;
    object-fit: cover;
    position: absolute;
    top: 119px;
    width: 547px;
  }
  
  .log-out-login-page .div {
    height: 393px;
    left: 32px;
    position: absolute;
    top: 256px;
    width: 581px;
  }
  
  .log-out-login-page .text-wrapper {
    color: #111111;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 133px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 328px;
  }
  
  .log-out-login-page .overlap-2 {
    height: 45px;
    left: 0;
    position: absolute;
    top: 130px;
    width: 572px;
  }
  
  .log-out-login-page .text-wrapper-2 {
    color: #333333;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 15px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 176px;
  }
  
  .log-out-login-page .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bcbcbc;
    border-radius: 20px;
    height: 45px;
    left: 132px;
    position: absolute;
    top: 0;
    width: 440px;
  }
  
  .log-out-login-page .overlap-3 {
    height: 45px;
    left: 0;
    position: absolute;
    top: 212px;
    width: 573px;
  }
  
  .log-out-login-page .rectangle-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #bcbcbc;
    border-radius: 20px;
    height: 45px;
    left: 133px;
    position: absolute;
    top: 0;
    width: 440px;
  }
  
  .log-out-login-page .div-wrapper {
    background-color: #6a80ab;
    border-radius: 50px;
    height: 48px;
    left: 219px;
    position: absolute;
    top: 345px;
    width: 156px;
  }
  
  .log-out-login-page .text-wrapper-3 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    height: 40px;
    left: 30px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 95px;
  }
  
  .log-out-login-page .new-here {
    color: #0a0a0a;
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 33px;
    left: 156px;
    letter-spacing: -0.48px;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    top: 672px;
    width: 359px;
  }
  